<header>
  <div class="header-wrapper">
    <a class="logo" href="/">
      <img src="../../../../assets/logo.svg" alt="аякс.люди">
      <h1 class="text-white">аякс.люди</h1>
    </a>

    <span>
      <a *ngIf="isAdmin" routerLink="/admin" class="link text-white m-10 pb-1">🧑Админ-панель</a>
      <a routerLink="/people" class="link text-white m-10 pb-1">🕊Люди</a>
      <a href="/posts" class="link text-white m-10 pb-1">🚩Публикации</a>
      <a href="/profile" class="link text-white m-10 pb-1">👤Профиль</a>
    </span>
  </div>
</header>
