<body>
  <div class="image-holder">
    <img src="../../../../assets/auth-page/campus.jpg" alt="Кампус" />
  </div>
  <div class="wrapper">
    <section class="block">
      <div class="auth-about">
        <div class="main-info">
          <div class="title">
            <img src="../../../../assets/logo.svg" alt="аякс.люди">
            <h1 class="text-white">аякс.люди</h1>
          </div>
          <h2 class="text-white">Что?</h2>
          <p class="text-white">
            <b>аякс.люди — это социальный сервис, который позволяет каждому пользователю создать профиль и заявить о себе 🗣️:
            найти единомышленников 🧠, помощников 🧑‍🎓 и новых друзей 👥, которые помогут в реализации проектов и задач</b> 
          </p>
          <p class="text-white">
            <b>Мы создали это сообщество 👩‍💻, чтобы сделать процесс поиска 🔎 подходящих людей проще и удобнее</b>
          </p>
          <p class="text-white">
            <b>аякс.люди — это место, где каждый может стать частью большой дружной команды 🏄‍♀️</b>
          </p>
        </div>
        <app-login-page></app-login-page>
      </div>
    </section>
    <section class="block">
      <div class="more-info">
        <h2>А что если присвоить людям 👥 теги ✏️?</h2>
      </div>
    </section>
  </div>
</body>
