<body class="a">
  <div class="container" style="overflow: auto;">
    <div class="menu" style="float: left; width: 25%;">
      <div class="sidebar">
        <ul class="menu">
          <li><a routerLink="/site/profile" >Профиль</a></li>
          <li><a routerLink="/site/subscriptions"> Подписки</a></li>
          <li><a routerLink="/site/people">Люди</a></li>
          <li><a routerLink="/site/publications">Публикации</a></li>
        </ul>
      </div>
    </div>
    <div class="friends" style="overflow: auto;">
    </div>
  </div>
</body>

