<!DOCTYPE html>
<html>
<head>
  <title>Посты</title>
</head>
  <body>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="filter-place">
        <h3>Выберите фильтры</h3>
        <button
          mat-raised-button color="primary"
          (click)="onOrderByButtonClick()"
        >
          {{orderBy ? "Сначала новые" : "Сначала старые"}}
        </button>
        <h3>Тэги</h3>
        <mat-chip-listbox class="tags mat-mdc-chip-set-stacked" multiple [(ngModel)]="selectedChips" (ngModelChange)="onFilterTagsChange()">
          <mat-chip-option *ngFor="let t of tags" [value]="t">
            {{ t.title }}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <button
        mat-raised-button color="primary"
        (click)="onAddFiltersClick()"
      >
        {{areFiltersOpen ? "Убрать фильтры" : "Добавить фильтры"}}
      </button>
      <button
        mat-raised-button color="primary"
        (click)="onCreatePostClick()"
      >
        Создать пост
      </button>
      <h3 *ngIf="areThereAnyPosts">
        По данному запросу не найдено ни одного поста
      </h3>
      <app-post *ngFor="let post of (posts ? posts : [])"
                [post]="post">
      </app-post>
    </div>

  </mat-drawer-container>
  <mat-paginator
    [pageSize]="5"
    [pageIndex]="0"
    (page)="onPageChange($event)"
    [length]="postsCount ? postsCount : 0"
    [pageSizeOptions]="[1, 5, 10, 50]">
  </mat-paginator>
  </body>
</html>
