<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Написать пост</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Заголовок</mat-label>
      <input matInput type="text"  formControlName="title" />
      <mat-error>{{ getTitleErrorString() }}</mat-error>
    </mat-form-field>

    <mat-form-field [style.height.vh]='40' appearance="fill">
      <mat-label>Текст</mat-label>
      <textarea class="text-input" matInput formControlName="text"></textarea>
      <mat-error>{{ getTextErrorString() }}</mat-error>
    </mat-form-field>
    <div>
      <button color="warn" mat-flat-button>Post</button>
    </div>
  </mat-card>
</form>
