<form [formGroup]="form" class="create-post-form">
  <mat-card class="margin">
    <mat-card-header>
      <mat-card-title>Написать пост</mat-card-title>
    </mat-card-header>
    <mat-form-field class="post-area"  appearance="fill">
      <mat-label>Текст</mat-label>
      <textarea
                matInput
                cdkTextareaAutosize
                formControlName="text"></textarea>
      <mat-error>{{ getTextErrorString() }}</mat-error>
    </mat-form-field >

    <mat-spinner class="create-post-spinner" [diameter]="60" *ngIf="loading"></mat-spinner>

    <h4 class="margin">Выберите теги</h4>
        <mat-chip-listbox class="margin" multiple="true" formControlName="tags">
          <mat-chip-option *ngFor="let i of interests" [value]="i">{{i.title}}</mat-chip-option>
        </mat-chip-listbox>
      <mat-error  class="mat-error" *ngIf="isTagSelected">Минимум 1 тег</mat-error>
    <div>
      <button
        class="btn-margin"
        mat-raised-button color="primary"
        (click)="onPostClick()"
      >
        Сохранить
      </button>
    </div>
  </mat-card>
</form>
