<mat-card class="example-card post-modal">
  <mat-card-actions class="cross-button">
    <div class="example-button-container" >
      <button mat-mini-fab color="warn"
              (click)="onCloseClick()">
        &#10006;
      </button>
    </div>
  </mat-card-actions>
  <div class="post">
    <mat-card-header>
      <mat-card-subtitle>{{data.publicationTime | date:  "dd.MM.YYYY HH:mm"}}</mat-card-subtitle>
      <mat-card-title>{{author}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ data.text }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary">
        Отозваться
      </button>
    </mat-card-actions>
  </div>
</mat-card>
