<mat-card>

  <img src="../../../../assets/user/user-avatar.jpg" mat-card-lg-image>

  <mat-card-header>
    <mat-card-title class="user-name">Артём Курпас, 19</mat-card-title>
    <mat-card-subtitle class="school">Институт математики и компьтерных технологий</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <p class="mat-typography faculty"><strong>Направление: </strong>Прикладная информатика</p>
    <p class="mat-typography faculty"><strong>Направление: </strong>Прикладная информатика</p>
    <p class="mat-typography faculty"><strong>Направление: </strong>Прикладная информатика</p>
    <p class="mat-typography faculty"><strong>Направление: </strong>Прикладная информатика</p>
    <p class="mat-typography faculty"><strong>Направление: </strong>Прикладная информатика</p>


  </mat-card-content>

  <mat-card-footer>
    <mat-chip-listbox>
      <mat-chip color="accent" disabled>Интерес 1</mat-chip>
      <mat-chip color="accent">Интерес 2</mat-chip>
      <mat-chip>Интерес 3</mat-chip>
      <mat-chip>Интерес 4</mat-chip>
      <mat-chip>Интерес 5</mat-chip>
      <mat-chip>Интерес 6</mat-chip>
      <mat-chip>Интерес 6</mat-chip>
    </mat-chip-listbox>
  </mat-card-footer>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button>Показать контакты</button>
  </mat-card-actions>

</mat-card>